a,
button {
  &.a__button {
    background: $button_bg;
    color: $button_text;

    &:not([disabled]):hover {
      background: $button_hover_bg;
      color: $button_hover_text;
    }
  }
}

button {
  &:not([disabled]):hover {
    color: $button_text;
  }
}
