// Put color names here, using the names from Zeplin.
// Do not use these variables anywhere else except this file!
// The should all start with $_ .
// (you can delete the example below).

$_black_pearl: #1E2330;


// Put color usages here and assign them a color from above .
// You can use these variables anywhere else.
// (you can delete the example below).

// Brand
$branding: $_black_pearl;

// Body
$body: $_black_pearl;

// Heading
$heading: $_black_pearl;

// Links
$link: $_black_pearl;
$link_hover: rgba($link, 0.6);

// Buttons
$button_text: $_black_pearl;
$button_bg: $_black_pearl;
$button_hover_text: $_black_pearl;
$button_hover_bg: $_black_pearl;
