@import '../../../../bower_components/neat/app/assets/stylesheets/neat-helpers';

// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: false;
$visual-grid-color: #CCCCCC;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
$column: 57px;
$gutter: 25px;
$grid-columns: 12;
$max-width: 960px;
$max-width-extended: 1224px;
