.ln-m-widget-recent {
  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  h4 {
    text-transform: uppercase;
  }

  a {
    display: block;
    margin-bottom: 3em;
    position: relative;
  }
}
