<div class="t__blog">

  <header role="banner" mx-o-header
          mx-menu-items="vm.static.menus.main_menu"
          mx-template="blog">
  </header>

  <main role="main">

    <h1>Blog</h1>

    <ol class="blog-list">

      <li ng-repeat="post in vm.view"
          class="blog-preview"
          mx-m-blog-preview
          mx-title="{{post.title.rendered}}"
          mx-excerpt="{{post.excerpt.rendered}}"
          mx-date="{{post.date}}"
          mx-link="{{post.link}}">
      </li>

    </ol>

  </main>

  <footer role="contentinfo" mx-o-footer></footer>

</div>
