// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: flex-gutter();
  }
  $has-n: str-index(#{$nth}, 'n');
  $next: #{$nth + 'n'} + 1;
  @if $has-n != null {
    $next: #{$nth} + 1;
  }

  &:nth-child(#{$next}) {
    clear: none;
  }
}
