nav[role='navigation'] {
  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    background-color: $button_bg;
    margin-right: 5px;
    border-radius: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $button_hover_bg;
    }
  }
}
